<!-- Table in branch Component -->
<div class="table-responsive">
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Week</th>
        <th scope="col">Regular</th>
        <th scope="col"></th>
        <th scope="col">Diesel</th>
        <th scope="col"></th>
        <th scope="col">Premuim</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <ng-content></ng-content>
    </tbody>
  </table>
</div>
