<!-- Dashboard Component -->
<div class="container border mt-3 total-component">

  <h1 class="text-center text-warning mt-3">
    Annual Month Overall Data of CALTEX
  </h1>

  <!-- Total Component -->
  <app-total [total]="total"></app-total>

</div>
<!-- Branch && Week-row Component -->
<div class="container border mt-3 branch-component">
  <h1 class="text-center text-warning mt-3">
    Data From each Branch
  </h1>
  <h3 class="text-primary">Branch A</h3>
  <div app-branch>
    <tr app-week-row [week]="this.generateWeek()" *ngFor="let w of [1, 2, 3, 4]">{{w}}</tr>
  </div>

  <h3 class="text-primary">Branch B</h3>
  <div app-branch>
    <tr app-week-row [week]="this.generateWeek()" *ngFor="let w of [1, 2, 3, 4]">{{w}}</tr>
  </div>

</div>