/* .total-component{
    border-radius: 3px;
    padding-left: 0%;
    padding-right: 0%;
} */
.card-title{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.total-cp{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

@media screen and (max-width:768px){
    .total-cp{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    .card{
        margin-top: 5px;
    }
}