<div class="total-cp">

  <!-- Regular card -->
  <div class="card w-100">
    <div class="card-body">
      <h5
        class="card-title text-white"
        style.backgroundColor="{{ totalRegular > 70 ? '#dc3545' : '#28a745' }}">
        Regular
      </h5>
      <h3>
        {{ total[0].used }} / {{ total[0].available }} ({{ totalRegular/100 | percent: "2.2-2" }})
      </h3>
      <p class="card-text">Utilization of Regular</p>
      <p>
        <ngb-progressbar
          type="{{ totalRegular > 70 ? 'danger' : 'success'}}"
          [value]="totalRegular"
        ></ngb-progressbar>
      </p>
    </div>
  </div>

  <!-- Diesel card -->
  <div class="card w-100 mx-2">
    <div class="card-body">
      <h5
        class="card-title text-white"
        style.backgroundColor="{{ totalDiesel > 70 ? '#dc3545' : '#28a745' }}">
        Diesel
      </h5>
      <h3>
        {{ total[1].used }}/{{ total[1].available }} ({{ totalDiesel/100 | percent: "2.2-2" }})
      </h3>
      <p class="card-text">Utilization of Diesel</p>
      <p>
        <ngb-progressbar
          type="{{ totalDiesel > 70 ? 'danger' : 'success' }}"
          [value]="totalDiesel"
        ></ngb-progressbar>
      </p>
    </div>
  </div>

  <!-- Premuim card -->
  <div class="card w-100">
    <div class="card-body">
      <h5
        class="card-title text-white"
        style.backgroundColor="{{ totalPremuim > 70 ? '#dc3545' : '#28a745' }}">
        Premuim
      </h5>
      <h3>
        {{ total[2].used }} / {{ total[2].available }} ({{ totalPremuim/100 | percent: "2.2-2" }})
      </h3>
      <p class="card-text">Utilization of Premuim</p>
      <p>
        <ngb-progressbar
          type="{{ totalPremuim > 70 ? 'danger' : 'success' }}"
          [value]="totalPremuim">
        </ngb-progressbar>
      </p>
    </div>
  </div>
  
</div>
