<!-- to use in tag <tr> of table in branch component -->
<td>{{ week.name }} <ng-content></ng-content></td>
<td>{{ week.regular.used }}/30</td>
<td>{{ this.week.regular.used / this.week.regular.available | percent: "2.2-2" }}</td>
<td>{{ week.diesel.used }}/20</td>
<td>{{ totalDiesel | percent: "2.2-2" }}</td>
<td>{{ week.premium.used }}/25</td>
<td>{{ totalPremuim | percent: "2.2-2" }}</td> 

